<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>VegetBanc</title>
        <!-- <link rel="icon" href="favicon.ico"> -->
        <meta name="description" content="廃棄野菜の有効活用の為のサイトです。">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="icon">
                    <img src="img/yasai.jpg" width="250" alt="画像">
                </div>
                <div class="info">
                    <h1>VegeBanc</h1>
                    <p>廃棄せざるを得ない野菜の販売・購入を行うサイトです。</p>
                    <ul> 
                        <button type="signup" onclick="location.href='https~~ここに新規登録URLを入れてね'">
                            新規登録
                        </button>
                        <button type="login" onclick="location.href='https~~ここにログインのURLを入れてね'">
                            ログイン
                        </button>
                    </ul>
                </div>
            </div>
        </header>   

        <!-- ここからサイト内 -->

        <section class="view">

            <section>
                <h1>直近の開催日時</h1>
                <p>
                    12/23
                </p>
            </section>

            <section>
                <h1>
                    商品一覧
                </h1>
                <button type="signup" onclick="location.href='https~~ここに商品登録ページのURLを入れてね'">
                    商品ページはこちら
                </button>
            </section>

        </section>

        <footer>
            <p>VegeBanc.com</p>
        </footer>


    </body>

</html>